:root{
  --primary : #BFDCE5;  
  --sec-primary : #3E54AC; 
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9999;
    padding: 1.2rem 7%;
}

.navbar .navbar-menu a{
    color: black;
    font-size: 1.8rem;
    display: inline-block;
    margin: 0 1rem;
}

.navbar .navbar-menu a:hover{
    color: var(--sec-primary);
}

.navbar .navbar-menu a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--sec-primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-menu a:hover::after{
    transform: scaleX(1);
}

.navbar .navbar-logo h3{
    font-size: 2.2rem;
    font-weight: 300px;
    color: var(--sec-primary);
    font-style: bold;
}

.navbar .navbar-left a{
    color: black;
    font-size: 1.8rem;
    display: inline-block;
    margin: 0 1rem;
}

.navbar .navbar-left a:hover{
    color: var(--sec-primary);
}

.navbar .navbar-left a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--sec-primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-left a:hover::after{
    transform: scaleX(1);
}

#hamburger-menu{
    display: none;
}


/* Laptop */
@media (max-width: 1366px){
    html{
        font-size: 75%;
    }
}
/* Tablet */
@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }

    #hamburger-menu{
        display: inline-block;
    }

    .navbar .navbar-menu {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
        background-color: var(--sec-primary);
    }

    .navbar .navbar-menu.active{
        right: 0;
    }

    .navbar .navbar-menu a{
        font-size: 1.5rem;
        display: block;
        margin: 1rem;
        color: #fff;
        margin: 1.5rem;
        padding: 0.5rem;

    }

    .navbar .navbar-menu a:hover{
        color: var(--primary);
    }

    .navbar .navbar-menu a::after{
        content: '';
        display: block;
        border-bottom: 1px solid var(--primary);
        padding-bottom: 1.1rem;
        transform-origin: 0 0;
        transition: 0.3s;
    }

    .navbar .navbar-menu a:hover::after{
        transform-origin: scaleX(0.2);
    }
}
/* Mobile phone */
@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}